.description-one {
    position: absolute;
    z-index: 2;
    background-color: transparent;
}

.waveContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}


.canvas {
    height: 90%;
    width: 90%;
}